$theme-colors: (
  "warning": #fffd88
);

@import "node_modules/bootstrap/scss/bootstrap";

.faqs {
  blockquote {
    border-left: 4px solid lightgrey;
    padding-left: 7px;
    font-style: italic;
    margin-bottom: 10px;
  }
}
